# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/create_ec2_instance_lambda_code/node_modules
/process_request_lambda_code/package-lock.json
/create_ec2_instance_lambda_code/package-lock.json
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
