.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
  background-color: black;
  color: white;
}

.input-container {
  text-align: left;
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing between inputs */
}
